.rahmen {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: var(--papier-2);
  background-size: cover;
  background-position: center;
}

.rahmen picture,
.rahmen img {
  width: 100%;
  height: 100%;
}

.rahmen img {
  object-fit: cover;
  object-position: center;
}
